asgiref==3.8.1
Django==4.2.17
djangorestframework==3.15.2
drf-extra-fields==3.7.0
exceptiongroup==1.2.2
filetype==1.2.0
iniconfig==2.0.0
packaging==24.2
pdf2image==1.17.0
pillow==11.1.0
pluggy==1.5.0
PyPDF2==3.0.1
pytest==8.3.4
pytest-django==4.9.0
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.12.2
